html, body {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

* {
  font-family: 'Exo 2';
  box-sizing: border-box;
}
  
.container {
	width: 100%;
  background-color: hsl(238, 42%, 96%);
}

h2, h3 { 
  width: 100%;
	margin: 10px 0;
}

h2, h3, p, .options {
	color: hsl(203, 25%, 20%);
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem;}
h3 { font-size: 1.25rem;}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: justify;
  text-indent: 1rem;
  line-height: 1.5rem;
  margin: 0;
	padding: 0 0.5rem;
}

.main-header, .main-header > a, h1 {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main-header {
  height: auto;
  align-content: center;  
  background-color: hsl(168, 55%, 46%);
}

.main-header > a, h1 {
  align-items: center;
}

h1 {
  height: auto;
  flex-flow: row nowrap;margin: 0;
}

.name {
  font-size: 2.5rem;
  margin: 0.75rem 0 0.75rem 0.5rem;
	color: hsl(214, 65%, 25%);
}

h1 > img {
	height: 2.5rem;
}

main, article {
  display: flex;
  flex-flow: row wrap;
}

main {
  padding: 5px;
  margin-bottom: 70px;  
}

section {
  flex-flow: row wrap;
  padding: 0 5px;
}

table {  
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

table, canvas {
	height: 18.75rem;
}

table, .chart {
	width: 300px;
	width: 90%;
	margin: 1em auto;
}

th, td {
  border: 1px black solid;
	font-size: 1.75rem;
}

th {
  background-color: hsl(54, 47%, 65%);
}

th:first-of-type {
  border-style: none;
  background-color: inherit;
}

th:nth-of-type(2) {
  color: hsl(240, 91%, 26%);
}

th:nth-of-type(3) {
  color: hsl(0, 100%, 19%);
}

td {
  text-align: center;
  background-color: hsl(54, 47%, 88%);  
}

td:first-of-type {
  background-color: hsl(168, 55%, 46%);
}

.value {
  width: 25%;
}

.currency {
  width: 22.5%;
	color: black;
}

.chart {  
  height: auto;
}

canvas {
	width: 100%;
  background-color: hsl(215, 32%, 85%);
}

.options {
	width: auto;
	display: block;
	padding: 5px;
}

.options select, input[type='button'], input[type='number'] {
	height: 2em;
	color: hsl(228, 92%, 19%);
}

input[type='number'] {
	width: 3em;
}

input[type='button'], input[type='number'] {
	margin-left: 5px;
}

footer {
  position: fixed;
  width: 100%;
  height: 50px;  
  bottom: 0;
  left: 0;
  font-size: 1.25em;
  color: hsl(42, 80%, 86%);
  background-color: hsl(201, 10%, 25%);
}

footer > span {
  display: inline-block;
  padding: 5px;
  font-style: italic;
}

@media screen and (min-width: 400px) and (max-width: 480px) {
	.name {
		font-size: 3.125rem;
	}

	h1 > img {
		height: 3.25rem;
	}
	
	table, .chart {
		min-width: 360px;
	}
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  body, html {
    font-size: 14px;
  }  
    
  h1 > img {
    height: 45px;
  }
      
  .name {
    font-size: 45px;
  }  
  
  table, .chart {
    width: 420px;
		max-width: 600px;
  }
}

@media screen and (min-width: 480px) and (max-width: 960px) {
  main {
		padding: 10px;
  }
  
  section {
    padding: 5px;
  }
}

@media screen and (min-width: 720px) {
	html, body {
		font-size: 16px;
	}
	
  .name {
		padding-left: 15px;
    font-size: 65px;
  }
  
	h1 > img {
		height: 3.5rem;
	}
	
	h3 + p {
		height: 6rem;		
	}	
	
	section {
		flex-flow: row nowrap;
		flex: 50%;		
	}
	
	table, .chart {
		min-width: 340px;
	}
	
	footer {
		height: 60px;
	}

	footer > span {
		padding: 10px;
	}
}

@media screen and (min-width: 961px) {
	html, body {
		background-image: url(/dollar_pattern_S.jpg);
	}
	
	.container {
		width: 960px;
		margin: 0 auto;
	}
	
	main {
		padding: 15px;
	}
}